<body>
  <div class="contactdiv">
    My Name: Erik Sandqvist
    <br />
    My Number: 073-544 05 70
    <br />
    My E-mail: esandqvist04@gmail.com
  </div>

  <div class="contactcontainer">
    <form action="/contact">
      <input
        type="text"
        id="fname"
        name="firstname"
        placeholder="Your name.."
      />

      <textarea
        id="subject"
        name="subject"
        placeholder="Write something.."
        style="height:200px"
      ></textarea>

      <input type="submit" value="Submit" />

    </form>
  </div>

</body>