<body>
  <div class="aboutme">
    <img src="pics/meinboat.JPG" alt="picofme" class="aboutpic" />

    <div>
      <p class="highlight">Contact:</p>
      <ul>
        <li>Name: Erik Sandqvist</li>
        <li>Phone number: 073-5440570</li>
        <li>Email: esandqvist04@gmail.com</li>
        <li>City: Jönköping</li>
      </ul>
      <br />
      <p class="highlight">Education:</p>
      <ul>
        <li>Slättenskolan: 2010-2016 </li>
        <li>Flahultskolan: 2016-2020</li>
        <li>Erikhalbergs Gymmnasiet: 2020-2023</li>
        <li> Jönköpings Univerity: 2023-2026</li>
      </ul>
      <br />
      <p class="highlight">Work:</p>
      <ul>
        <li>NGIS: 2019-2022 </li>
        <li>McDonalds: 2022-2023</li>
        <li>Ikea warehouse: 2023-current</li>
      </ul>
      <br /><br />
      <p class="highlight">Short about me</p>
      <p>
        I am a guy born and raised in Jönköping. I am interested in programming
        and problem-solving. I enjoy challenging myself and find it interesting
        to learn new things and constantly develop.<br /><br />
        <p class="highlight">Experience</p>

        IKEA Warehouse 2023 – Present During my studies at the end of high
        school, I started working as a warehouse worker at Ikea Torsvik. The job
        requires a lot of physical effort and constantly finding new solutions
        to problems that may arise.
        <br /><br />McDonald's 2022-2023 I worked at McDonald's during part of
        my high school years and learned a lot about teamwork, handling stress,
        and how an organization operates.<br /><br />
        NGIS 2019-2022 NGIS is a sports club where I worked as a custodian. This
        role involved a lot of responsibility as I was in charge of large
        facilities and machinery on my own.

        <p class="highlight">Education</p>
        Erik Dahlberg High School / 2020-2023 I studied the technology program
        at Erik Dahlberg High School with a focus on web development and
        communication. I also took additional courses such as Math 4, German,
        CAD, and web server programming. Here, I learned the basics of several
        programming languages.<br /><br />
        Jönköping University / 2023- I will graduate with a degree in
        Informatics, consisting of 180 ECTS credits. The program focuses on
        developing knowledge within the media landscape and building and
        developing websites, both front-end and back-end. Here, I am developing
        many of the skills I gained during high school and solving problems
        related to the workplace. The program also includes courses related to
        business operations and how companies are run. In general, I have not
        had any issues in school and have consistently graduated with good
        grades in all courses each year.
      </p>
    </div>
  </div>

</body>